@page {
    size: A4;
    margin: 0;
}

table {
    width: 100%;
    padding: 20px;
}
th {
    background-color: #7d7d7d;
    color: white;
    height: 50px;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        background-color: #ffffff;
    }
    table {
        width: 100%;
        padding: 20px;
    }
    th {
        background-color: #7d7d7d;
        color: white;
        height: 50px;
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }
    td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    tbody tr:nth-child(odd){
      background-color: #ddd;      
    }
    
    .text-right{
      text-align: right;
    }
    .text-left{
      text-align: left;
    }
    .text-center{
      text-align: center;
    }
    
    

    .no-print{
        display: none;
    }

    .show-print{
        display: block;
    }

    .am-header{
        display: none !important;
        height: 0px;
    }
    .am-pagebody{
        padding: 10px;
    }
    .am-footer{
        display: none;
        position: fixed;
        bottom: 0;
    }
    /* ... the rest of the rules ... */
}